extends layout

block content
    ul
        each run in runs
            li.run(class= 'rating-' + run.rating)
                if run.date
                    p= 'date: ' + (run.date.getFullYear()) + '-' + (run.date.getMonth() + 1) + '-' + (run.date.getDate())
                else
                    p= 'date: '
                p= 'time: ' + run.time
                p= 'distance: ' + run.distance
                p= 'rating: ' + run.rating
                p= 'weight: ' + run.weight
                p= 'vertical: ' + run.vertical
                a(href='/view/#{ run._id }') edit

    hr
    a(href='/') back