extends layout

block content
    h1= title
    
    ul
        each run in runs
            li
                p= 'date: ' + (run.date.getMonth() + 1) + '/' + run.date.getDate() + '/' + run.date.getFullYear()
                p= 'time: ' + run.time
                p= 'distance: ' + run.distance
                p= 'rating: ' + run.rating
                p= 'weight: ' + run.weight

    hr
    a(href='/') back