extends layout

block content
    h1= title
    
    ul
        each run in runs
            li.run(class= 'rating-' + run.rating)
                if run.date
                    p= 'date: ' + (run.date.getMonth() + 1) + '/' + run.date.getDate() + '/' + run.date.getFullYear()
                else
                    p= 'date: '
                p= 'time: ' + run.time
                p= 'distance: ' + run.distance
                p= 'rating: ' + run.rating
                p= 'weight: ' + run.weight
                p= 'vertical: ' + run.vertical
                p 
                    a(href='/view/#{run._id}') view

    hr
    a(href='/') back