div.container-fluid
  form.form-horizontal(
      role='form'
      action='/api/run' + (run ? '/' + run._id : ''),
      method=(run ? 'PUT' : 'POST')
      novalidate
    )
    div.form-group
      label.col-xs-4.control-label(for='date') Date
      div.col-xs-8
        input.form-control#date(
          type='date'
          value=(run && run.date || new Date()).toISOString().substring(0, 10)
          placeholder='Date'
        )
        input#_id(
          type='hidden'
          value=(run && run._id)
        )

    div.form-group
      label.col-xs-4.control-label(for='time') Time
      div.col-xs-4
        input.form-control#minutes(
          type='number'
          min='0'
          value=(run && run.minutes)
          placeholder='Minutes'
        )

      div.col-xs-4
        input.form-control#seconds(
          type='number'
          min='0'
          max='59'
          value=(run && run.seconds)
          placeholder='Seconds'
        )

    div.form-group
      label.col-xs-4.control-label(for='distance') Distance
      div.col-xs-8
        input.form-control#distance(
          type='number'
          value=(run && run.distance || 3.106)
          min='0'
          step='0.1'
          placeholder='Distance'
        )

    div.form-group
      label.col-xs-4.control-label(for='rating') Rating
      div.col-xs-8
        input.form-control#rating(
          type='number'
          value=(run && run.rating || 3)
          min='1'
          max='5'
          step='1'
          placeholder='Rating'
        )

    div.form-group
      label.col-xs-4.control-label(for='vertical') Vertical
      div.col-xs-8
        input.form-control#vertical(
          type='number'
          value=(run && run.vertical || 0)
          min='0'
          step='1'
          placeholder='Vertical'
        )

    div.form-group
      label.col-xs-4.control-label(for='weight') Weight
      div.col-xs-8
        input.form-control#weight(
          type='number'
          value=(run && run.weight || 165)
          min='0'
          step='0.1'
          placeholder='Weight'
        )

    div.form-group
      div.col-xs-8.col-xs-offset-4
        if run
          button.btn.btn-success.btn-block(type='submit') Save Changes
        else
          button.btn.btn-primary.btn-block(type='submit') Log Run
        p.message
        a.hidden#view view
