extends layout

block content
    h1 View Run

    form
        div#msg-container
            div#message
        div.field
            input#_id(type='hidden' name='_id' value='#{run._id}')
        div.field
            label Date
                input#date(type='text' name='date' value='#{run.date}')
        div.field
            label Time
                input#time(type='text' name='time' value='#{run.time}')
        div.field
            label Distance
                input#distance(type='text' name='distance' value='#{run.distance}')
        div.field
            label Rating
                input#rating(type='text' name='rating' value='#{run.rating}')
        div.field
            label Weight
                input#weight(type='text' name='weight' value='#{run.weight}')
        div.field
            label Vertical
                input#vertical(type='text' name='vertical' value='#{run.vertical}')
        div.field
            input(type='submit' value='update')

    hr
    a(href='/') back